@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PressStart';
	src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

html {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #6e7493;
}

.press-start {
	font-family: PressStart, sans-serif;
}

::selection {
	background-color: #5a7fff;
	color: #d9e7fa;
}

.center-fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
